#sidebar {
  background: firebrick;  
  width: 15%;
  height: 100%;
  position: fixed;
  left: 0px;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  top: 0px;
}
header {
  background: darkred;
  color: aliceblue;
  width: 120%;
  height: 15%;
  position: fixed;
  top: 0%;
  justify-content: space-around;
  left: 0%;
}
#title {
  color: alice-blue;
  position: fixed;
  top: 0%;
  left: 15%;
  font-size: 25px;
}
body {
  background: aliceblue;
}
#logo {
width: 10%;
border-radius: 50%;
position: fixed;
left: 2%;
top: 1.5%;
height: auto;
}
#dashboard {
  position: fixed;
  top: 25%;
  left: 3.5%;
  width: 8%;
  border-radius:80px;
  max-width: 100%;
  height: auto;
}
#grid_view {
  position: fixed;
  top: 45%;
  left: 3.5%;
  width: 7.5%;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}
#learning {
  position: fixed;
  top: 67%;
  left: 3.5%;
  width: 7.5%;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}
.desc {
  color: aliceblue;
  position: fixed;
  max-width: 100%;
  height: auto;
}
#pv-desc {
  top: 35%;
  left: 0.5%;
  font-size-adjust: inherit;
  font-size: 13px;
}
#gd-desc {
  top: 57%;
  left: 1%;
  font-size-adjust: inherit;
  font-size: 13px;
}
#l-desc {
  top: 78.5%;
  left: 1%;
  font-size-adjust: inherit;
  font-size: 15px;
}
#p-view {
  display: flex;
  align-content: center;
}
#g-view {
  display: flex;
  align-content: center;
}
#learn {
  display: flex;
  align-content: center;
}
#background {
  background: red;
}
#Welcome{
  font-family: 'Audiowide';
  font-size: 30px;
  position: fixed;
  top: 20%;
  left: 30%;
}
